POSTGRES_USER=glucotrack
POSTGRES_PASSWORD=change_me_strong_password
POSTGRES_DB=glucotrack

ConnectionStrings__Default=Host=postgres;Port=5432;Database=glucotrack;Username=glucotrack;Password=change_me_strong_password
Jwt__Key=change_me_minimum_32_chars_secret_key_here
Jwt__Issuer=glucotrack
Jwt__Audience=glucotrack
